<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}"
      th:object="${student}" method="POST">

    First name: <input type="text" th:field="*{firstName}" />
    Last name: <input type="text" th:field="*{lastName}" />

    <br><br>

    Country:
    <select th:field="*{country}">
        <!--<option th:value="Brazil">Brazil</option>
        <option th:value="France">France</option>
        <option th:value="Germany">Germany</option>
        <option th:value="India">India</option>
        <option th:value="China">China</option>-->
        <option th:each="tempCountry : ${countries}"
                th:value="${tempCountry}" th:text="${tempCountry}"/>
    </select>

    <br><br>

    Favorite Programming Language:
    <!--<br><input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java</input>
    <br><input type="radio" th:field="*{favoriteLanguage}" th:value="Go">Go</input>
    <br><input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python</input>-->

    <br><input type="radio" th:field="*{favoriteLanguage}"
               th:each="tempLanguage : ${languages}"
               th:value="${tempLanguage}"
               th:text="${tempLanguage}" />

    <br><br>

    Favorite Operating Systems:
    <!--<input type="checkbox" th:field="*{favoriteOS}" th:value="Linux" th:text="Linux">
    <input type="checkbox" th:field="*{favoriteOS}" th:value="'Microsoft Windows'" th:text="'Microsoft Windows'">
    <input type="checkbox" th:field="*{favoriteOS}" th:value="MacOS" th:text="MacOS">-->

    <input type="checkbox" th:field="*{favoriteSystems}"
                           th:each="tempOS : ${operatingSystems}"
                           th:value="${tempOS}"
                           th:text="${tempOS}">

    <br><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>